.footer {
	background: #fff;
	box-shadow: 0 0 3px rgba(0,0,0, .3);

	background: #eff1f0; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmZjFmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2Y1ZjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #eff1f0 0%, #f3f5f4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eff1f0), color-stop(100%,#f3f5f4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eff1f0 0%,#f3f5f4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eff1f0 0%,#f3f5f4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eff1f0 0%,#f3f5f4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eff1f0 0%,#f3f5f4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff1f0', endColorstr='#f3f5f4',GradientType=0 ); /* IE6-8 */

	padding:30px 0 25px;

	.sosials {
		margin:0 0 20px;
		overflow: hidden;
		a {
			margin-left: 10px;
			display: block;
			float:left;
			@include transition(none);
			&:first-child {
				margin-left: 0;
			}
		}
	}
	.copyright {
		margin-top:20px;
		padding-top:81px;
	}

	.footer-wrapper {
		max-width: 1280px;
		margin:0 auto;
		@extend .cf;
	}
}