.footer {
	margin:-100px auto;
	height:100px;
	position: relative;
	z-index: 2;
	background: url(../img/pattern_gray.png) repeat;
	border-top:3px solid #6a6a6a;
	padding:40px 0;
	text-align: center;
	color:#e5e6e4;
	font-size: 18px;
}
.footer-logo-holder {
	vertical-align: middle;
	.icon {
		vertical-align: middle;
		margin-right:5px;
	}
}